* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero {
  min-height: 50vh;
  max-width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.hero-heading {
  font-size: 2.25rem;
}

.hero-subheading {
  padding: 0 1rem;
  font-size: 1.25rem;
}

.hero-input {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  width: 60%;
}

.hero-input:focus {
  outline: none;
}

.nav-link {
  margin-right: 36px;
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  justify-items: start;
  align-items: start;
}

.adventure-heading{
  padding: 0px 20px;
  margin: 24px;
}

.adventure-description{
  padding: 0px 20px;
  margin: 24px;
}

.adventure-detail{
  display:flex;
  justify-content: space-between;
}

.adventure-card {
  height: 20rem;
  border-radius: 8px;
}


.adventure-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s all;
}


.adventure-card img:hover {
  filter: brightness(50%);
}



.adventure-detail-card {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 16px;
}



.adventure-card-image {
  width: 100%;
  height: 100%;
}


.adventure-card-image:hover {
  filter: brightness(50%);
}



.img-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 1.5rem;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
  /* position:fixed; */
}



.primary-image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}


.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}


@media only screen and (min-width: 992px) {
  #reservation {
    width: 300px;
    position: fixed;
    top:2 rem;
    right:0;
  }
}


